<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Añadir redes</h4>
</div>
<div class="modal-body">
  <form [formGroup]="netForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col">
        <label>
          <input type="number" formControlName="numRed" class="form-control" placeholder="Nº Redes">
        </label>
      </div>
      <div class="col">
        <label>
          <input type="number" formControlName="numHosts" class="form-control" placeholder="Nº Hosts">
        </label>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary" [disabled]="!netForm.valid"><fa-icon [icon]="faPlus"></fa-icon></button>
      </div>
    </div>
  </form>

  <br>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Nº Redes</th>
      <th scope="col">Nº Hosts</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let net of guessNets; index as i">
      <td>{{ net.total | number }}</td>
      <td>{{ net.hosts | number }}</td>
    </tr>
    </tbody>
  </table>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="closeModal()">Cancelar</button>
  <button type="button" class="btn btn-success" (click)="closeModal(true)">Guardar</button>
</div>
