<div>
  <ngb-accordion [closeOthers]="true">
    <ngb-panel *ngFor="let router of routers">
      <ng-template ngbPanelTitle>
        <span>{{router.nombre}}</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="d-flex justify-content-end mb-3">
          <button (click)="selectNet(router, true)" class="btn btn-primary mr-3">Add router</button>
          <button (click)="selectNet(router)" class="btn btn-primary">Add net</button>
        </div>
        <div>
          <ngb-accordion [closeOthers]="true">
            <ngb-panel *ngFor="let interfaz of router.interfaces">
              <ng-template ngbPanelTitle>
                <span>{{interfaz.nombre}}</span>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="d-flex justify-content-end mb-3">
                  <button *ngIf="!interfaz.disableLinkRouter" (click)="addRouter(router, interfaz)" class="btn btn-primary mr-3">Add router</button>
                </div>
                <div>
                  <p>IP: {{interfaz.red.ip}}/{{interfaz.red.mask}}</p>
                  <p>Máscara Decimal: {{interfaz.red.decimalMask}}</p>
                  <p>Broadcast: {{interfaz.red.broadcast}}</p>
                  <p>IP router: {{interfaz.red.ipRouter}}</p>
                  <p>IP Pirmer equipo: {{interfaz.red.firstIp}}</p>
                  <p>IP Último equipo: {{interfaz.red.lastIp}}</p>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
